@import url('https://fonts.googleapis.com/css2?family=Literata&display=swap');


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 20%;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#logo-and-title{
  display:flex;
  flex-direction: column;
  margin-top: 10%;
}

body{
  font-family:'Literata',serif;
  font-size: 2vh;
}

h1{
  margin:auto;
}

h2{
  margin:auto;
}
.meditating-lake{
  width:90%
}

ol{
  text-align:left;
}

.homepage-copy{
  margin: 2% 5%;
  text-indent: 0;
  text-align:left;
}

.PostPreview{
  width: 80%;
  text-align:left;
}

.PostPreview h3{
  text-align:center;
}

.CurrentBlogPost{
  text-align:left;
  margin: 0 5%;
}